html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url('/img/DigitalCrafts-Logo-Wrench.png') no-repeat fixed bottom / 70%;
  background-color: #0a3351;
}
.centered {
  margin: auto;
}
/*
              CUSTOM COMPONENT STYLES
*/
#studentContainer {
  padding: 0 3rem;
}
.alum-row {
  padding-left: 3rem;
  padding-right: 3rem;
}
.alum-container {
  padding: 1em;
}
.alum {
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #1E8ECE;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: justify;
}
.alum p {
  margin-left: 1rem;
  margin-right: 1rem;
}
.alum a {
  /* icons */
  color: #7bC242;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.icons {
  text-align: center;
}
.thick {
  border-width: 2px;
}
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}
.btn-light {
  border-radius: 0;
  color: #7bC242;
  background-color: rgba(25, 25, 112, 0.6);
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #7bC242;
  background-color: rgba(25, 25, 112, 0.8);
}
/* Custom Horizontal Rule */
hr.small {
  max-width: 100px;
}
/* Side Menu */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  transform: translateX(250px);
  overflow-y: auto;
  background: #222;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: rgba(30, 142, 206, 0.75);
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav #menu-close {
  background-color: inherit;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #7bC242;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(30, 142, 206, 0.8);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
  color: #fff;
}
.sidebar-nav > .sidebar-brand a:hover {
  text-decoration: underline;
  text-decoration-color: #7bC242;
  background: none;
}
#menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
}
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.toggle {
  margin: 5px 5px 0 0;
}
/* Header */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url('/img/bass.jpg') no-repeat center center scroll;
  /*-webkit-background-size: 110%;
    -moz-background-size: 110%;
    background-size: 110%;
    -o-background-size: 110%;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #eee;
  /*background-position: 75% 10%;*/
}
.headerbig {
  display: none;
}
@media (min-width: 600px) {
  .headerbig {
    display: block;
  }
  .headersmall {
    display: none;
  }
}
.header h1 {
  text-decoration: underline;
  text-decoration-color: #7bC242;
}
#top > div {
  padding-bottom: 25%;
}
@media (min-width: 600px) {
  #top > div {
    padding-right: 33%;
    padding-bottom: 0;
  }
}
/* About */
.about {
  padding: 50px 0;
  background-color: #7bC242;
}
.lead {
  font-size: 1.5em;
}
/* Services */
.services {
  padding: 50px 0;
  background-color: #1E8ECE;
}
.services h4 {
  font-size: 1.8em;
  color: #1E8ECE;
  letter-spacing: .05em;
}
.services hr {
  border-color: #1E8ECE;
}
.service-item {
  margin-bottom: 30px;
}
.service-item > p {
  font-size: 1.5em;
  letter-spacing: .025em;
}
@media (min-width: 768px) {
  .service-item > h4 {
    font-size: 1.5em;
  }
  .service-item > p {
    font-size: 1em;
    letter-spacing: 0;
  }
}
.text-primary:before {
  color: #1E8ECE;
}
/* Callout */
.callout {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url('/img/code-recolored.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.callout > div > h2 {
  margin-bottom: .7em;
}
.glyphicons > i {
  font-size: 3em;
  margin: 0 .15em;
}
.glyphicons-small-row {
  margin: .8em .15em;
}
.glyphicons-big-row {
  display: none;
  margin: 0 .15em;
}
@media (min-width: 624px) {
  .glyphicons-small-row {
    display: none;
  }
  .glyphicons-big-row {
    display: block;
    margin: .15em;
  }
}
@media (min-width: 992px) {
  .glyphicons-small-row {
    display: none;
  }
  .glyphicons-big-row {
    display: block;
  }
  .glyphicons > i {
    font-size: 4em;
    margin: 0 .15em;
  }
}
/* Portfolio */
.portfolio {
  background-color: none;
  padding: 50px 0;
}
.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-accent {
  color: #1E8ECE;
  border-color: #1E8ECE;
}
.img-portfolio {
  margin: 0 auto;
  border: 3px solid #1E8ECE;
}
.img-portfolio:hover {
  opacity: 0.8;
}
.modallist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modallist li {
  padding-left: 1em;
  text-indent: -0.7em;
}
.modallist li::before {
  content: "\0025E6";
  padding-right: .5em;
  color: #7bC242;
}
/* Call to Action */
.call-to-action {
  background-color: #1E8ECE;
  padding: 50px 0;
}
.call-to-action .btn-lg {
  margin: 7px;
  padding: 10px 6px;
  width: 80%;
}
@media (min-width: 624px) {
  .call-to-action .btn-lg {
    max-width: 20%;
    padding: 16px 10px;
    margin: 10px;
  }
}
/* Footer */
footer {
  padding: 100px 0;
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
/*
COLORS
*/
.green1 {
  color: #7bC242;
  border-color: #7bC242;
}
.green2 {
  color: #5b893E;
  border-color: #5b893E;
}
.green3 {
  color: #447764;
  border-color: #447764;
}
.blue1 {
  color: #1E8ECE;
  border-color: #1E8ECE;
}
.blue2 {
  color: #0D6Fb8;
  border-color: #0D6Fb8;
}
.blue3 {
  color: #1466A2;
  border-color: #1466A2;
}
.orange1 {
  color: #F89F1F;
  border-color: #F89F1F;
}
.orange2 {
  color: #F47820;
  border-color: #F47820;
}
.orange3 {
  color: #C28254;
  border-color: #C28254;
}
.grey1 {
  color: #bCbDbF;
  border-color: #bCbDbF;
}
.grey2 {
  color: #A6AAAb;
  border-color: #A6AAAb;
}
.grey3 {
  color: #949597;
  border-color: #949597;
}
.grey4 {
  color: #6D6E70;
  border-color: #6D6E70;
}
.modal-content {
  background-color: #1E8ECE;
}
.modal-title,
.modal-content,
.modal-body {
  color: white;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.close {
  color: #fff;
  text-shadow: #fff;
  opacity: 60%;
}
.close:hover {
  color: #1E8ECE;
  opacity: 100%;
}
.modal-title {
  font-size: 2em;
}
.modal-header,
.modal-footer {
  border-color: #5b893E;
}
.modal-title > a {
  color: #fff;
}
.modal-body > a {
  color: #5b893E;
}
.modal-content > a {
  color: white;
}
