html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #0a3351 url('/static/img/DigitalCrafts-Logo-Wrench.png') no-repeat fixed bottom / 90%;
}
@media (min-width: 768px) {
  body {
    background: #0a3351 url('/static/img/DigitalCrafts-Logo-Wrench.png') no-repeat fixed bottom / 70%;
  }
}
.centered {
  margin: auto;
}
/*
              CUSTOM COMPONENT STYLES
*/
#profileContainer {
  padding-top: 4rem;
  width: 80vw;
  margin: auto;
  height: 100%;
}
.profileForm {
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #1E8ECE;
  border-style: ridge;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 2rem;
  text-align: justify;
}
@media (min-width: 768px) {
  .profileForm {
    margin: 0;
  }
}
#studentContainer {
  padding: 8rem 3rem 0 3rem;
}
.alum-row {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .alum-row {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.alum-container {
  padding: 0;
}
@media (min-width: 768px) {
  .alum-container {
    padding: 1em;
  }
}
.alum {
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #1E8ECE;
  border-style: ridge;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 2rem;
  text-align: justify;
}
@media (min-width: 768px) {
  .alum {
    margin: 0;
  }
}
.alum h4 {
  text-align: left;
  padding-left: 3rem;
  font-size: 2rem;
  color: black;
  margin-top: 0;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .alum h4 {
    font-size: 1.5rem;
  }
}
.alum h6 {
  color: #A6AAAb;
  padding-right: 3rem;
  text-align: right;
  margin-bottom: 0;
  margin-top: 3px;
}
.alum hr:first-of-type {
  margin-top: 0.5rem;
}
.alum hr:last-of-type {
  margin-bottom: .5rem;
}
.alum p {
  margin-left: 1rem;
  margin-right: 1rem;
}
.alum a {
  /* icons */
  color: #7bC242;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.alum a:hover {
  color: red
}
.icons {
  text-align: center;
  font-size: 2.5em;
}
@media (min-width: 768px) {
  .icons {
    font-size: 3em;
  }
}
.thick {
  border-width: 2px;
}
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/*******************************
COLORS - from DC wrench logo
*******************************/
.green1 {
  color: #7bC242;
  border-color: #7bC242;
}
.green2 {
  color: #5b893E;
  border-color: #5b893E;
}
.green3 {
  color: #447764;
  border-color: #447764;
}
.blue1 {
  color: #1E8ECE;
  border-color: #1E8ECE;
}
.blue2 {
  color: #0D6Fb8;
  border-color: #0D6Fb8;
}
.blue3 {
  color: #1466A2;
  border-color: #1466A2;
}
.orange1 {
  color: #F89F1F;
  border-color: #F89F1F;
}
.orange2 {
  color: #F47820;
  border-color: #F47820;
}
.orange3 {
  color: #C28254;
  border-color: #C28254;
}
.grey1 {
  color: #bCbDbF;
  border-color: #bCbDbF;
}
.grey2 {
  color: #A6AAAb;
  border-color: #A6AAAb;
}
.grey3 {
  color: #949597;
  border-color: #949597;
}
.grey4 {
  color: #6D6E70;
  border-color: #6D6E70;
}
.modal-content {
  background-color: #1E8ECE;
}
.modal-title,
.modal-content,
.modal-body {
  color: white;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.close {
  color: #fff;
  text-shadow: #fff;
  opacity: 60%;
}
.close:hover {
  color: #1E8ECE;
  opacity: 100%;
}
.modal-title {
  font-size: 2em;
}
.modal-header,
.modal-footer {
  border-color: #5b893E;
}
.modal-title > a {
  color: #fff;
}
.modal-body > a {
  color: #5b893E;
}
.modal-content > a {
  color: white;
}
